body{
    background-image: url("analytics.png");
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    color: blue;
    font-weight: bolder;
    border-radius: 20px;

}

#increment-btn{
    background: yellowgreen;
}

#save-btn{
    background: orange;
}